Theme (
    styles: {
        "tiny_button": ( 
            base: "base",
            properties: {
                "foreground": "$LINK_WATER",
                "icon_brush": "$LINK_WATER",
                "background": "$LYNCH",
                "border_radius": 4,
            }, 
            states: {
                "pressed": {
                    "background": "$BLUE_BAYOUX",
                },
                "selected": {
                    "background": "$BLUE_BAYOUX",
                },
                "disabled": {
                    "background": "$ROLLING_STONE",
                    "foreground": "$BRIGHT_GRAY",
                    "icon_brush": "$BRIGHT_GRAY",
                },
            },
        ),
    },
)
